@import "./vars";
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap");

* {
  font-family: "Noto Kufi Arabic", sans-serif;
  box-sizing: border-box;
}
h5 {
  font-size: 1rem;
}

.headerLine {
  width: 25%;
  height: 5px;
  position: relative;
  margin: auto;
}
.headerLine::after,
.headerLine::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 1px;
  width: 45%;
  background-color: $secColor;
}

.headerLine::after {
  left: 0;
  top: 0;
}
.headerLine::before {
  right: 0;
}
.circle {
  height: 1px;
  width: 1px;
  border: 2px solid $secColor;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  background-color: $secColor;
}



ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  outline: none;
  color: inherit;
  padding: 0 0.5rem;
  text-decoration: none;
}
.link {
  color: $secColor;
}
li {
  padding: 0.25rem 0;
  img {
    color: #000;
  }
}
