@import "./vars";
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap");

* {
  font-family: "Noto Kufi Arabic", sans-serif;
  box-sizing: border-box;
}
h5 {
  font-size: 1rem;
}
.headerLine {
  width: 25%;
  height: 5px;
  position: relative;
  margin: auto;
}
.headerLine::after,
.headerLine::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 1px;
  width: 45%;
  background-color: $secColor;
}

.headerLine::after {
  left: 0;
  top: 0;
}
.headerLine::before {
  right: 0;
}
.circle {
  height: 1px;
  width: 1px;
  border: 2px solid $secColor;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  background-color: $secColor;
}

.item {
  width: 26.9375rem;
  height: 15.0625rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  outline: none;
  color: inherit;
  padding: 0 0.5rem;
  text-decoration: none;
}
.link {
  color: $secColor;
}
li {
  padding: 0.25rem 0;
  img {
    color: #000;
  }
}
footer {
  .social {
    li {
      display: inline-block;
    }
  }
  .footer_desc {
    font-size: 10px;
  }
  .links__list {
    list-style: disc url("38specialPlusP.gif");
    direction: rtl;
    margin-right: 1rem;

    a {
      padding: 0;
    }
  }
}
.footer_logo {
  display: flex;
}
.paragraph {
  padding-left: 16rem;
  font-size: 12px;
}

.logo_title {
  line-height: 0;
  font-size: 15px;
}
@include mobile-xs {
  .social {
    text-align: center;
  }
  .footer_logo {
    flex-wrap: wrap;
  }
  .bord {
    display: none;
  }
  .arrow img {
    display: block;
    margin: 0 auto;
  }
  .co_logo {
    border-top: 1px solid #ececf4;
    margin: 0;
  }
  .video_header {
    font-size: 1.25rem;
  }
  .video_desc {
    height: 2.5rem;
    margin-top: 1rem;
  }
  .push {
    width: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.25rem;
  }
  .video_watch {
    font-size: 1.1rem;
    margin-top: 0.25rem;
  }
  .paragraph {
    padding: 0;
    font-size: 12px;
  }
}
@include mobile-sm {
  .social {
    text-align: center;
  }
  .footer_logo {
    flex-wrap: wrap;
  }
  .bord {
    display: none;
  }
  .arrow img {
    display: block;
    margin: 0 auto;
  }
  .video_header {
    font-size: 1.25rem;
  }
  .video_desc {
    height: 2.5rem;
    margin-top: 1rem;
  }
  .push {
    width: 1rem;
    padding-bottom: 1rem;
  }
  .video_watch {
    font-size: 1.1rem;
    margin-top: 0.25rem;
  }
  .paragraph {
    padding: 0;
  }
  .co_logo {
    margin: 0 30%;
  }
  .footer_logo {
    flex-wrap: wrap;
  }
}
@include tablet {
  .item {
    width: 100%;
    margin: 4rem 0;
  }
  .paragraph {
    padding-left: 0.5rem;
  }
  .social {
    text-align: center;
  }
  .arrow img {
    display: block;
    margin: 0 auto;
  }
  .co_logo {
    margin-left: 0;
  }
}
@include desktop {
  .item {
    width: 33%;
    margin: 3rem auto;
  }
  .paragraph {
    padding-left: 3rem;

    font-size: 12px;
  }
  .footer_logo {
    text-align: start;
  }
}
