$primaryColor : #fff;
$secColor:#949494;
$overlayColor: rgba(0, 0, 0, 0.35);
//media queries
$mobile-xs-width: 320;
$mobile-sm-width: 568;
$tablet-sm-width: 768;
$tablet-lg-width: 992;
$tablet-lg-width: 992;
$desktop-sm-width: 1200;
$desktop-lg-width: 1400;
$lessThan: 1;



