
.item img {
  display: block;
  margin: auto;
  margin-bottom: -2rem;
}
.item{
  margin-bottom: 3rem;
}
.desc {
  border-radius: 0.2rem;
 border:1px solid #D6D9E1;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 0px 40px 0px;

}
.quote {
  width: 50%;
  margin: 0 -5rem;
  padding-top: 0.6rem;
}
.quotes {
  display: inline-block;
  width: 20%;
  padding-left: 0.5rem;
}

.text__title {
  color: $secColor;
  font-size: 0.65rem;
}
.text_desc {
  font-size: 0.65rem;
}

.section1 .carousel-indicators{
  top: auto;
  left: 0;
  bottom: -70px;
}
.section1 .carousel-indicators .slider {
  border: 1px solid $secColor;
  background-color: #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.section1 .carousel-indicators .active {
  background-color: #143266;
  border: 1px solid #143266;
}

@include mobile-xs {
  .quote {
    margin: 0 -4rem;
  }
  .item{
    margin:1rem 0;
  }
}
@include mobile-sm {
  .quote {
    margin: 0 -4rem;
  }
}
@include tablet {
  .quote {
    margin: 0 -4rem;
  }
  .item{
    width: 90%;

    margin:3rem auto;
  }
.item:first-child{
  margin-top: 0;
}
.item:last-child{
  margin-bottom: 6rem;
}
}
@include desktop{
  .quote{
    margin: 0  -3rem;
  }
}
