section {
  .items {
    .item {
      img {
        display: block;
        margin: auto;
        margin-bottom: -2rem;
      }
      figcaption {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border-radius: 0.2rem;
        .quote {
          width: 50%;
          .quotes {
            display: inline-block;
            width: 20%;
            padding-left: 0.5rem;
          }
        }
        .text__title {
          color:$secColor;
          font-size: 0.65rem;
        }
        .text_desc {
          font-size: 0.65rem;
        }
      }
    }
  }
  .dots {
    display: block;
    text-align: center;
    .active {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 1px solid $secColor;
      display: inline-block;
      padding-right: 5px;
    }
    .active:hover {
      background-color: #143266;
    }
  }
}
