.video_overlay {
  background-size: cover;
  position: relative;
}
.video_img {
  margin: 0;
}

.video_desc {
  width: 12.75rem;
  margin-top: 3rem;
}
.Overlay {
@include overlay();
}
.overlay-content {
 @include overlay-content;
}

