@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap");
* {
  font-family: "Noto Kufi Arabic", sans-serif;
  box-sizing: border-box; }

h5 {
  font-size: 1rem; }

.headerLine {
  width: 25%;
  height: 5px;
  position: relative;
  margin: auto; }

.headerLine::after,
.headerLine::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 1px;
  width: 45%;
  background-color: #949494; }

.headerLine::after {
  left: 0;
  top: 0; }

.headerLine::before {
  right: 0; }

.circle {
  height: 1px;
  width: 1px;
  border: 2px solid #949494;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  background-color: #949494; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  outline: none;
  color: inherit;
  padding: 0 0.5rem;
  text-decoration: none; }

.link {
  color: #949494; }

li {
  padding: 0.25rem 0; }
  li img {
    color: #000; }

.video {
  height: 100vh;
  min-height: 500px;
  background: url("../../assets/imgs/video.svg") center center;
  background-size: cover;
  position: relative;
  align-items: center;
  z-index: 1; }

.video::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 0; }

.video_header {
  text-align: center;
  color: #fff; }

.video_content {
  position: static;
  z-index: 1; }

.video_play {
  align-items: baseline;
  padding: 0.5rem 0.5rem;
  margin-top: 3rem; }

.play {
  margin: 0  0.5rem 0 0; }

.video_img {
  margin: 0; }

.video_watch {
  color: #fff; }

@media (min-width: 320px) and (max-width: 567px) {
  .video_header {
    font-size: 1.25rem; } }

@media (min-width: 568px) and (max-width: 767px) {
  .video_header {
    font-size: 1.25rem; } }

.team_desc {
  color: #949494; }

.team_item {
  position: relative; }

.socials_link {
  position: absolute;
  top: 25%;
  left: 5%;
  transform: translateY(-50%);
  visibility: hidden; }

/* Style the icon bar links */
.socials_link a {
  display: block;
  padding: 0.5rem 0 0 0.5rem;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px; }

.team_item:hover .socials_link {
  visibility: visible; }

.carousel-indicators {
  top: auto;
  left: 0;
  bottom: -70px; }

.carousel-indicators .slider {
  border: 1px solid #949494;
  background-color: #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem; }

.carousel-indicators .active {
  background-color: #143266;
  border: 1px solid #143266; }

.sponsors .row .client img {
  transition: all 1s; }

.sponsors .row .client img:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; }

footer .social li {
  display: inline-block; }

footer .footer_desc {
  font-size: 10px; }

footer .links__list {
  list-style: disc url("38specialPlusP.gif");
  direction: rtl;
  margin-right: 1rem; }
  footer .links__list a {
    padding: 0; }

.footer_logo {
  display: flex; }

.paragraph {
  padding: 0 6rem;
  font-size: 12px; }

.logo_title {
  line-height: 0;
  font-size: 15px; }

.arrow {
  cursor: pointer; }

@media (min-width: 320px) and (max-width: 567px) {
  .social {
    text-align: center; }
  .footer_logo {
    flex-wrap: wrap; }
  .bord {
    display: none; }
  .arrow img {
    display: block;
    margin: 0 auto; }
  .co_logo {
    border-top: 1px solid #ececf4;
    margin: 0; }
  .video_header {
    font-size: 1.25rem; }
  .paragraph {
    padding: 0;
    font-size: 12px; } }

@media (min-width: 568px) and (max-width: 767px) {
  .social {
    text-align: center; }
  .footer_logo {
    flex-wrap: wrap; }
  .bord {
    display: none; }
  .arrow img {
    display: block;
    margin: 0 auto; }
  .video_header {
    font-size: 1.25rem; }
  .paragraph {
    padding: 0; }
  .co_logo {
    margin: 0 30%; }
  .footer_logo {
    flex-wrap: wrap; } }

@media (min-width: 768px) and (max-width: 991px) {
  .item {
    width: 100%;
    margin: 4rem 0; }
  .paragraph {
    padding-left: 0.5rem; }
  .social {
    text-align: center; }
  .arrow img {
    display: block;
    margin: 0 auto; }
  .co_logo {
    margin-left: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .item {
    width: 33%;
    margin: 3rem auto; }
  .paragraph {
    padding-left: 3rem;
    font-size: 12px; }
  .footer_logo {
    text-align: start; } }

.item img {
  display: block;
  margin: auto;
  margin-bottom: -2rem; }

.item {
  margin-bottom: 3rem; }

.desc {
  border-radius: 0.2rem;
  border: 1px solid #D6D9E1;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 0px 40px 0px; }

.quote {
  width: 25%; }

.quotes {
  width: 50%; }

.text__title {
  color: #949494;
  font-size: 0.65rem; }

.text_desc {
  font-size: 0.65rem; }

.section1 .carousel-indicators {
  top: auto;
  left: 0;
  bottom: -70px; }

.section1 .carousel-indicators .slider {
  border: 1px solid #949494;
  background-color: #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem; }

.section1 .carousel-indicators .active {
  background-color: #143266;
  border: 1px solid #143266; }

@media (min-width: 320px) and (max-width: 567px) {
  .item {
    margin: 1rem 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .item {
    width: 90%;
    margin: 3rem auto; }
  .item:first-child {
    margin-top: 0; }
  .item:last-child {
    margin-bottom: 6rem; } }

@media (min-width: 1200px) {
  margin: 0 10rem; }
