@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap");
* {
  font-family: 'Noto Kufi Arabic', sans-serif;
  box-sizing: border-box; }

/*************
    body
*************/
section header .headerLine {
  width: 25%;
  height: 5px;
  position: relative;
  margin: auto; }

section header .headerLine::after,
section header .headerLine::before {
  content: '';
  position: absolute;
  margin: auto;
  height: 1px;
  width: 45%;
  background-color: #707070; }

section header .headerLine::after {
  left: 0;
  top: 0; }

section header .headerLine::before {
  right: 0; }

section header .circle {
  height: 1px;
  width: 1px;
  border: 2px solid #707070;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  background-color: #707070; }

.video_desc {
  width: 12.75rem;
  margin-top: 3rem; }

.dots {
  display: block;
  text-align: center; }

.dots .active {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid gray;
  display: inline-block;
  padding-right: 5px; }

.dots .active:hover {
  background-color: #143266; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/*************
    a (link)
*************/
a {
  outline: none;
  color: inherit;
  padding: 0 0.5rem;
  text-decoration: none; }

.link {
  color: #949494; }

li {
  padding: 0.25rem 0; }
  li img {
    color: #000; }

footer .social li {
  display: inline-block; }

footer .footer_desc {
  font-size: 10px; }

footer .links__list {
  list-style: disc url("38specialPlusP.gif");
  direction: rtl;
  margin-right: 1rem; }
  footer .links__list a {
    padding: 0; }

.paragraph {
  padding-left: 16rem; }

.logo_title {
  line-height: 0;
  font-size: 15px; }

@media (min-width: 320px) and (max-width: 567px) {
  .social {
    text-align: center; }
  .footer_logo {
    flex-wrap: wrap; }
  .bord {
    display: none; }
  .arrow img {
    display: block;
    margin: 0 auto; }
  .co_logo {
    border-top: 1px solid #ececf4; }
  .video_header {
    font-size: 1.25rem; }
  .video_desc {
    height: 2.5rem;
    margin-top: 1rem; }
  .push {
    width: 1rem;
    padding-bottom: 1rem; }
  .video_watch {
    font-size: 1.1rem;
    margin-top: 0.25rem; }
  .paragraph {
    padding: 0; } }

@media (min-width: 568px) and (max-width: 767px) {
  .social {
    text-align: center; }
  .footer_logo {
    flex-wrap: wrap; }
  .bord {
    display: none; }
  .arrow img {
    display: block;
    margin: 0 auto; }
  .video_header {
    font-size: 1.25rem; }
  .video_desc {
    height: 2.5rem;
    margin-top: 1rem; }
  .push {
    width: 1rem;
    padding-bottom: 1rem; }
  .video_watch {
    font-size: 1.1rem;
    margin-top: 0.25rem; }
  .paragraph {
    padding: 0; }
  .co_logo {
    margin-left: 3rem; } }

@media (min-width: 768px) and (max-width: 991px) {
  .paragraph {
    padding-left: 0.5rem; }
  .social {
    text-align: center; }
  .arrow img {
    display: block;
    margin: 0 auto; }
  .co_logo {
    margin-left: 0; }
  .item {
    margin: 1rem auto; } }

.video_overlay {
  background-size: cover;
  position: relative; }

.video_img {
  margin: 0; }

.Overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0; }

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%); }

.sponsors .row .client:hover img {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; }

section header .headerLine {
  width: 18.25rem;
  height: 0;
  position: relative; }

section header .headerLine::after,
section header .headerLine::before {
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  top: 0;
  width: 45%;
  background-color: #7b808e; }

section header .headerLine::after {
  left: 0; }

section header .headerLine::before {
  right: 0; }

section header .circle {
  height: 0;
  width: 0;
  border: 2px solid #7b808e;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  background-color: #707070; }

section .items .item {
  width: 431px;
  height: 241px; }
  section .items .item img {
    display: block;
    margin: auto;
    margin-bottom: -2rem; }
  section .items .item figcaption {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 0.2rem; }
    section .items .item figcaption .quote {
      width: 50%; }
      section .items .item figcaption .quote .quotes {
        display: inline-block;
        width: 20%;
        padding-left: 0.5rem; }
    section .items .item figcaption .text__title {
      color: #9ea2ae;
      font-size: 0.65rem; }
    section .items .item figcaption .text_desc {
      font-size: 0.65rem; }
